.select{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 25px;
    background-color: rgba(87, 8, 190, 0.096);
    border: 1px solid rgba(105, 15, 207, 0.486);
    border-radius: 0.3em;
    transition: all 0.4s;
    cursor: pointer;
}

.select:hover{
    background-color: rgba(87, 8, 190, 0.171);
}

.title{
    font-size: 0.9rem;
    color: rgb(199, 120, 238);
    margin-bottom: 0.6em;
}

.value{
    font-size: 0.9rem;
}

.option{
    font-size: 0.9rem;
    margin: 0.1em;
}

.option:hover{
    color: rgb(199, 120, 238);
}