.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
    gap: 1em;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.option{
    display: flex;
    align-items: center;
    gap: 1em;
}

.bio{
    resize: none;
    width: 254px;
    height: 100px;
    background-color: #262c50;
    border: none;
    border-radius: 0.3em;
    color: white;
    outline: transparent;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.8rem;
}

.bio::placeholder{
    color: rgb(123, 63, 202);
}