
.links {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    bottom: 20px;
}

.linkicon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.3rem;
    cursor: pointer;
}

.linkicon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.3rem;
    cursor: pointer;
    font-weight: 500;
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}


@keyframes rainbow_animation {
    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}