.box{
    display: flex;
    align-items: center;
    background-color: rgba(87, 8, 190, 0.096);
    border-radius: 0.2em;
    padding: 0.3em;
    width: 280px;
}

.link{
    display: flex;
    align-items: center;
    padding-right: 0.2em;
    height: 25px;
}

.title{
    font-size: 0.8rem;
    user-select: none;
    font-weight: 500;
}

.theinput{
    flex: 1;
    height: 23px;
    font-size: 0.8rem;
    background-color: transparent;
    outline: none;
    width: 10px;
    border: none;
    padding-right: 0.1em;
    padding-left: 0.3em;
    border-radius: 0.5em;
    color: white;
    background-color: rgba(56, 5, 107, 0.26);
}

.theinput::placeholder{
    color: rgb(165, 107, 240);
  }