
body{
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(5, 5, 5);
}

p,h1{
  color: white;
}

.purple{
  color: rgb(123, 63, 202);
}

.lightpurple{
  color: rgb(199, 120, 238);
}

.home-inputs::placeholder{
  color: rgb(165, 107, 240);
}

.no-decoration{
  text-decoration: none !important;
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
