@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



body{
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(5, 5, 5);
}

p,h1{
  color: white;
}

textarea{
  font-family: "Inter";
}

.purple{
  color: rgb(123, 63, 202);
}

.lightpurple{
  color: rgb(199, 120, 238);
}

.home-inputs::placeholder{
  color: rgb(165, 107, 240);
}

.no-decoration{
  text-decoration: none !important;
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(123, 63, 202);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(123, 63, 202);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(123, 63, 202) transparent;
}



input[type=range] {
  -webkit-appearance: none;
  width: 100%; 
  height: 5px; 
  background: rgba(105, 15, 207, 0.226); 
  border: none;
  outline: none; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  width: 16px;
  height: 16px; 
  background: rgb(105, 15, 207); 
  border-radius: 50%; 
  cursor: pointer; 
}

input[type=range]::-moz-range-thumb {
  width: 16px; 
  height: 16px;
  background: rgba(105, 15, 207, 0.226); 
  border-radius: 50%; 
  cursor: pointer; 
}

input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  background: rgba(105, 15, 207, 0.226); 
}

input[type=range]::-moz-range-track {
  height: 2px;
  background: rgba(105, 15, 207, 0.226); 
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}