.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.maininputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.6em;
}