.connections{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    gap: 3em;
}

.connection{
    width: 300px;
}

