.particlespage{
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
    flex-wrap: wrap;
    column-gap: 10em;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    width: 95%;
}



.title{
    color: rgb(123, 63, 202);
    font-weight: 500;
    font-size: 1rem;
}

.rangeinput{
    width: 100px;
    height: 35px;
    cursor: pointer;
}

@media only screen and (max-width: 586px) {
    .options{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
  